<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}CoreUI Free Bootstrap Admin Template{% endblock %}</title>

    {% block icons %}
        <link href="{{ asset('bundles/coreui/vendors/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/coreui/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/coreui/vendors/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('bundles/coreui/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/coreui/vendors/pace-progress/css/pace.min.css') }}" rel="stylesheet">
    {% endblock %}

    {% block javascripts_head %}{% endblock %}
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% block logo %}
            <a class="navbar-brand" href="#">
                <img class="navbar-brand-full" src="{{ asset('bundles/coreui/img/brand/logo.svg') }}" width="89" height="25" alt="CoreUI Logo">
                <img class="navbar-brand-minimized" src="{{ asset('bundles/coreui/img/brand/sygnet.svg') }}" width="30" height="30" alt="CoreUI Logo">
            </a>
        {% endblock %}

        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if block('right_menu') is not empty %}
            <button class="navbar-toggler aside-menu-toggler d-md-down-none ml-auto" type="button"
                    data-toggle="aside-menu-lg-show">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% else %}
            <div class="ml-auto"></div>
        {% endif %}
    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    {% block navigation %}
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">
                                <i class="nav-icon icon-speedometer"></i> Dashboard
                            </a>
                        </li>
                    {% endblock %}
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            {% block breadcrumb %}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item">
                        <a href="#">Admin</a>
                    </li>
                </ol>
            {% endblock %}

            <div class="container-fluid">
                {% block body %}
                    <div class="animated fadeIn">
                        Hello world!
                    </div>
                {% endblock %}
            </div>
        </main>

        {% block right_menu %}
            <aside class="aside-menu"></aside>
        {% endblock %}
    </div>

    {% block footer %}
        <footer class="app-footer">
            <div>
                <a href="https://coreui.io/pro/">CoreUI Pro</a>
                <span>&copy; 2018 creativeLabs.</span>
            </div>
            <div class="ml-auto">
                <span>Powered by</span>
                <a href="https://coreui.io/pro/">CoreUI Pro</a>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/coreui/vendors/jquery/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/coreui/vendors/popper.js/js/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/coreui/vendors/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/coreui/vendors/pace-progress/js/pace.min.js') }}"></script>
        <script src="{{ asset('bundles/coreui/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js') }}"></script>
        <script src="{{ asset('bundles/coreui/vendors/@coreui/coreui-pro/js/coreui.min.js') }}"></script>
    {% endblock %}
</body>
</html>
